* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid blue; */
}
:root {
  --orange: #c24010;
}

body {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.nav-container {
  background: black;
  color: white;
  height: 10vh;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  font-family: "Quicksand", sans-serif;
  border-bottom: 1px solid black;
}

.nav-brand {
  width: 20vw;
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
}
.nav-menu-container {
  display: flex;
}

.nav-menu-container li {
  padding: 1rem;
  list-style: none;
}

.nav-menu-container li a {
  text-decoration: none;
  color: white;
}

#content {
  display: flex;
  flex-direction: column;
}

#first-divition {
  height: calc(100vh - 10vh);
  display: flex;
  background-color: blanchedalmond;
}

#image-container {
  width: 50vw;
  background-image: url("https://images.pexels.com/photos/691114/pexels-photo-691114.jpeg?auto=compress&cs=tinysrgb&w=400");
  background-size: cover;
}

#image-container img {
  height: 100%;
  width: 100%;
}

#copy-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
  height: 20em;
  width: 25em;
  padding: 0 1em;
  margin: auto;
  text-align: center;
  border: 1px solid rgb(40, 0, 0);
  background-color: white;
  border-radius: 20px;
}

#second-divition {
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#horarios {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: 2px solid var(--orange);
  padding: 2em 3em;
  border-radius: 10px;
}

#location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45%;
  text-align: center;
}

#footer {
  text-align: center;
  color: aliceblue;
  background-color: black;
  padding: 15px;
  width: 100%;
  height: 2.5rem;
}

.btn-primary {
  padding: 1em;
  background-color: var(--orange);
  color: white;
  border: 1px solid transparent;
  border-radius: 5px;
}
.btn-primary:hover {
  border: 1px solid rgb(255, 207, 189);
  border-radius: 5px;
}
